---
- name: Configure EC2 using Ansible
  hosts: webservers
  become: yes

  tasks:
    - name: Install Apache web server
      package:
        name: httpd
        state: present

    - name: Start and enable Apache
      service:
        name: httpd
        state: started
        enabled: yes

    - name: Deploy index page
      copy:
        content: "<h1>EC2 Configured Using Ansible</h1>"
        dest: /var/www/html/index.html

