# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Terraform modules
.terraform/modules/

# Provider binaries
.terraform/providers/


# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
.env
