apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-deployment
  labels:
    app: worker
spec:
  replicas: 3
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      name: worker-app
      labels:
        app: worker
    spec:
      containers:
        - name: worker-app
          image: dockersamples/examplevotingapp_worker